.banner { 
  object-fit: cover;
  height: 320px;
  // margin-bottom: 120px;
  // background-image: url("../images/index-banner.jpg"); 
  // height: 320px;
  // background-position: center center;
  // background-size: cover;
  // opacity: 0.9;
}

.banner-text {
  font-size: 3rem;
}

.carousel-caption {
  bottom: unset;
  top: 33%;
}


.top-choices {
  sup {
    display:inline-block;
  }
}

.search {
  position: absolute;
  top: 270px;
  // position: relative;
  // bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  // margin-bottom: 200px;

  // left: 0;
  // right: 0;
  // margin: auto;
  // left: 6%;
  // right: 6%;
  // margin: 0 auto;
  // border: 1px solid red;
}

.search-box {
  width: 232px;
}

.choicesNo {
  position: relative; 
  top: -10px; 
  right: 0px;
}

.choicesHotel {
  height: 175px;
  object-fit: cover; 
}


// swiper
.swiper-container {
  width: 100%;
  // height: 100%;

  // width: 33%;
  // height: 200px;
  // object-fit: contain;
  // object-fit: cover;
}

.swiper-slide {
  

  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-layer {
  // background-image: transparent linear-gradient(270deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box,
  // url("../images/Osaka.jpg");  
  height: 78px; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
  
}

.card-layer-image1 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Osaka.jpg");
}

.card-layer-image2 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Kyoto.jpg");
}

.card-layer-image3 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Reykjavic.jpg");
}

.card-layer-image4 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Paris.jpg");
}

.card-layer-image5 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Roman.jpg");
}

.card-layer-image6 {
  background-image: linear-gradient(270deg, #00000000 0%, #000000 100%),
      url("../images/Bangkok.jpg");
}

.get-inspiration img {
  height: 263px;
  object-fit: cover;
}

.subscription {
  padding: 92px 0;
  h2 {
    font-size: 48px;    
  }

  input[type="email"] {
    width: 390px;
  }
}
