$primary: #6C51E2;

$spacer: .25rem !default;
$spacers: () !default;
@for $i from 1 through 50 {
  $spacers: map-merge($spacers, (
    $i: ($i * $spacer)
  ));
}

@import "../bootstrap/vendor/rfs";

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h7-font-size:                $font-size-base * 0.875 !default;
$h8-font-size:                $font-size-base * 0.75 !default;
h7, .h7 { @include font-size($h7-font-size); }
h8, .h8 { @include font-size($h8-font-size); }

$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 960px,
  xl: 1280px // xl: 1140px
) !default;

// $card-spacer-y:                     .75rem !default;
$card-spacer-y:                     .5rem !default;
// $card-spacer-x: 0rem; //                    1.25rem !default;


$card-spacer-x:                     0;//1.25rem !default;
$card-border-width:                 0;//$border-width !default;
$card-border-radius:                0.5rem;//$border-radius !default;
$card-img-overlay-padding:          1rem 1.5rem ;//1.25rem !default;

// @import "bootstrap/bootstrap.scss";


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/reboot";

@import "bootstrap/buttons";
@import "bootstrap/card";
@import "bootstrap/carousel";
@import "bootstrap/dropdown";
@import "bootstrap/grid";

@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/type";
@import "bootstrap/transitions"; // for nav bar collapse when md size
@import "bootstrap/utilities";



// reset

// *,*:before, *:after {
//   box-sizing: border-box;
// }

.content-box {
  box-sizing: content-box;
}

a {
  color: unset;
}

img {
  max-width: 100%;
  height: auto;
}


select {
  border: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, .p {
  margin-bottom: 0;
}


.container {
  padding-left: 0;
  padding-right: 0;
}

.container-padding {
  // padding: 0 85px;
  padding: 0 15px;
}

.logo {
  background-image: url(../images/logo-aloha.svg);
  width: 96px;	
  height: 24px;	
  display: block;	
  text-indent: 101%;	
  overflow: hidden;	
  white-space: no-wrap;	
}

.selected {
  color: $primary;
  display:inline-block;
  border-bottom:2px solid $primary;
  // padding-bottom:2px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text-title {
  font-family: 'Raleway', sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold {
  font-weight: 800;
}

.text-gray-title {
  color: #00000099;  
}

.text-gray-subtitle {
  color: #FFFFFF98;
}

.text-gray-text {
  color: #00000061;
}

.text-cross {
  text-decoration: line-through;
}

.text-background {
  background-color: #F1F0F8;
}


.subscription {
  // padding: 92px 0;
  h2 {
    font-size: 48px;    
  }

  input[type="email"] {
    width: 390px;
    margin: 0;
  }

 input[type="email" i] {
    padding-right: 0;
  }

  @include media-breakpoint-up(md) {
    .h3 {
      font-size: 48px;
    }

  
  }
}

// font
// .fontFamilyOpenSans {
//   font-family: 'Open Sans', sans-serif;
// }

// .fontFamilyRaleway {
//   font-family: 'Raleway', sans-serif;
// }

// .fontFamilyRoboto {
//   font-family: 'Roboto', sans-serif;
// }

// .fontWeightRegular {
//   font-weight: 400;
// }
// .fontWeightBold {
//   font-weight: 700;
// }
// .fontWeightExtraBold {
//   font-weight: 800;
// }

