<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700;800&family=Roboto&display=swap');
  </style>

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

</head>

<body>
  <header class="container container-padding">
    <div class="d-flex justify-content-between py-4">
      <img src="https://hexschool.github.io/webLayoutTraining1st/week8/logo-aloha.svg" alt="">
      <ul class="d-flex fontFamilyRoboto">
        <li class="d-flex mr-12 z">
          <span class="material-icons">
            language
          </span>
          <select name="lang" id="lang">
            <option value=""></option>
          </select>
        </li>
        <li class="mr-12">
          <h2 class="h6 ">Sign up</h2>
        </li>
        <li>
          <h2 class="h6">Login</h2>
        </li>
      </ul>
    </div>


  </header>

  </div>

  <%- contents %>

    <footer class="footer container-padding h7">
      <div class="d-flex justify-content-between py-7">
        <div class="d-flex">
          <p class=" mr-16">© 2020 ALOHA, Inc. All rights reserved.</p>
          <ul class="d-flex">
            <li class="mr-6"><a href="#">FAQs</a></li>
            <li class="mr-6"><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <ul class="d-flex">
          <li class="d-flex align-items-center mr-6">
            <span class="material-icons mr-2">
              language
            </span>
            <select class="form-control">
              <option>English</option>
              <option>Chinese</option>
            </select>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons">
              attach_money
            </span>
            <select class="form-control">
              <option>TWD</option>
              <option>USD</option>
            </select>
          </li>
        </ul>

      </div>

    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>