<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700;800&family=Roboto&display=swap');
  </style>
</head>

<body>
  <header class="header container">
    <div class="d-flex justify-content-between py-4">
      <img src="https://hexschool.github.io/webLayoutTraining1st/week8/logo-aloha.svg" alt="">
      <ul class="d-flex fontFamilyRoboto">
        <li class="d-flex mr-12 z">
          <span class="material-icons">
            language
          </span>
          <select name="lang" id="lang">
            <option value=""></option>
          </select>
        </li>
        <li class="mr-12">
          <h2 class="h6 ">Sign up</h2>
        </li>
        <li>
          <h2 class="h6">Login</h2>
        </li>
      </ul>
    </div>


  </header>

  </div>

  <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>